
.FiltersList{
	background-color: $main-gray-lighter;
	border-radius: 5px;
	padding: 8px;
	margin: 16px;
	ul{
		li{
			list-style-type: none;
			a{
				color: $main-black;
				font-size: 13px;
				font-weight: 400;
			}
		}
	}
	h4{
		font-size: 16px;
		font-weight: 700;
		color: $main-gray;
	}
	.filterBox{
		border-top: 1px solid $main-gray-light;
		border-bottom: 1px solid $main-gray-light;
		padding: 16px 0;
		margin: 16px 0;
		.quantity{
			font-size: 11px;
			font-weight: 400;
			color: $main-gray;
			margin-left: 8px;
		}
	}
}