.contentHome{
	margin-top: 90px;
	.title{
		h2{
			margin: 40px 0;
			text-align: center;
			border-bottom: 1px solid $main-gray-light;
			border-top: 1px solid $main-gray-light;
			padding: 24px 0;
			font-size: 40px;
			font-weight: 300;
			color: $main-gray;
		}
	}
}